@font-face {
    font-family: 'AUM';
    src: url('../fonts/AUM.ttf');
    font-weight: normal;
    font-style: normal;
}

body {

    background-image: url("../images/town.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    font-family: 'AUM', Arial, Helvetica, Sans-Serif!important;


}

.header {

    background-color: rgba(68, 68, 68, 0.90);
    margin: 15px auto 10px;
    text-align: center;
    height: 150px;
}

.slider_wrapper {
    width: 80%;
    margin: 0 auto 0;
    text-align: center;
    max-width: 1200px;
}

.title {
    color: #283545;
    font-weight: bold;
    font-family: 'AUM', Arial, Helvetica, Sans-Serif;
    text-align: center;
    font-size: 33px;

}

.content {
    background: url("../images/bg.jpg");
    padding: 30px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.content-history {
    background: url("../images/bg.jpg");

}

.navbar {

}

/*li + li {
    border-left: 1px inset #ffffff
}*/

.navbar-default {

    border-radius: 0 !important;
    background-color: rgba(68, 68, 68, 0.90) !important;
    background-image: none;
    color: #fff;
    box-shadow: none;
    font-family: 'AUM', Arial, Helvetica, Sans-Serif;
    padding: 0;
    margin-bottom: 10px !important;
    margin-top: 0px !important;
    border-color: transparent !important;

}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent !important;
}

.navbar-default .navbar-brand {
    color: #ffffff !important;
}

.navbar-default .navbar-nav > li {
    color: #ffffff;
    font-weight: bold;
}

.navbar-default .navbar-nav > li:hover {
    -webkit-transition: background 0.4s ease-in-out;
    -moz-transition: background 0.4s ease-in-out;
    -ms-transition: background 0.4s ease-in-out;
    -o-transition: background 0.4s ease-in-out;
    transition: background 0.4s ease-in-out;
    background-color: #428bca;
    font-weight: bold;

}

.navbar-default .navbar-nav > li > a {
    font-size: 18px;
    color: #ffffff !important;
    font-family: 'AUM', Arial, Helvetica, Sans-Serif;
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(68, 68, 68, 0.90);
    border-color: #444;
    color: #ffffff;
    font-family: 'AUM', Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;

}

#contact_list {
    text-align: left;
    text-decoration: none;
}

#list_contact {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    color: #383838;
}

.footer_title {
    font-family: 'AUM', Arial, Helvetica, Sans-Serif;
}

.part_desc {

    font-family: 'AUM', Arial, Helvetica, Sans-Serif;
    text-align: left;
}

.img {
    margin-right: 15px !important;

}

.btn {
    -webkit-transition: background 0.4s ease-in-out;
    -moz-transition: background 0.4s ease-in-out;
    -ms-transition: background 0.4s ease-in-out;
    -o-transition: background 0.4s ease-in-out;
    transition: background 0.4s ease-in-out;
    border-radius: 0!important;

}

.room-info {
    padding: 0 0 0 0!important;
    background: rgba(221, 221, 221, 0.48);
    font-size: 16px;
    border: 2px solid #aeb3b9;
}

.text-room-balance {

    font-size: 30px;
    text-align: center;
}

.alert {
    border-radius: 0!important;
}

/*HISTORY*/


.blogShort{ border-bottom:1px solid #ddd;}
.add{background: #333; padding: 10%; height: 300px;}

.nav-sidebar {
    width: 100%;
    padding: 8px 0;
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}
.nav-sidebar .active a {
    cursor: default;
    background-color: #34ca78;
    color: #fff;
}
.nav-sidebar .active a:hover {
    background-color: #37D980;
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.btn-blog {
    color: #ffffff;
    background-color: #37d980;
    border-color: #37d980;
    border-radius:0;
    margin-bottom:10px
}
.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
    color: white;
    background-color:#34ca78;
    border-color: #34ca78;
}
h2{color:#34ca78;}
.margin10{margin-bottom:10px; margin-right:10px;}


.history-date {
    padding: 5px;
    background-color:#34ca78 ;
    color: #ffffff;
    font-weight: bold;
}

.article-content {
    background: #DDDDDD;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #808080;
}
