@font-face {
    font-family: 'AUM' ;
    src: url('../fonts/AUM.ttf');
    src: url('../fonts/AUM.ttf?#iefix') format('embedded-opentype'), url('../fonts/AUM.ttf') format('truetype'),

}

body {

    font-family: 'AUM', 'Arial Unicode MS', Arial, Helvetica, Sans-Serif;
    background-color: #d4d4d4 !important;
    /*background: url("../images/background-pattern-by-MheR.png");*/

    background: url('../images/pageglare.png') repeat, #FFFFFF;
    background-attachment: fixed;
}

.head_wrapper {
    width: 80%;
    margin: 0 auto 0;
    text-align: center;
    max-width: 1200px;
    height: 200px;
    background: rgb(79, 133, 187); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(79, 133, 187, 1) 0%, rgba(79, 133, 187, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(79, 133, 187, 1)), color-stop(100%, rgba(79, 133, 187, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(79, 133, 187, 1) 0%, rgba(79, 133, 187, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(79, 133, 187, 1) 0%, rgba(79, 133, 187, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(79, 133, 187, 1) 0%, rgba(79, 133, 187, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(79, 133, 187, 1) 0%, rgba(79, 133, 187, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f85bb', endColorstr='#4f85bb', GradientType=0); /* IE6-9 */

}

.nav_wrapper {
    width: 80%;
    margin: 0 auto 0;
    text-align: center;
    max-width: 1200px;

}

.slider_wrapper {
    width: 80%;
    margin: 0 auto 0;
    text-align: center;
    max-width: 1200px;
}

.cont_wrapper {
    width: 80%;
    margin: 0 auto 0;
    text-align: center;
    max-width: 1200px;
}

.content {
    background: url("../images/content-pattern.png");
    border-left: 4px solid #428bca;
    border-right: 4px solid #428bca;
    padding: 40px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    font-family: 'Arial Unicode MS', Arial, Helvetica, Sans-Serif;
    font-size: 16px;
}

.title {
    color: #65b3fe;
    font-weight: bold;
}

.footer_wrapper {
    width: 80%;
    margin: 0 auto 0;
    text-align: center;
    max-width: 1200px;

}

.navbar {
    margin-bottom: 0px ! important;
    border: 0px !important;
    border-radius: 2px !important;

}

.navbar-default {
    background: rgb(211, 233, 255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(211, 233, 255, 1) 0%, rgba(220, 233, 247, 1) 44%, rgba(237, 237, 237, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(211, 233, 255, 1)), color-stop(44%, rgba(220, 233, 247, 1)), color-stop(100%, rgba(237, 237, 237, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(211, 233, 255, 1) 0%, rgba(220, 233, 247, 1) 44%, rgba(237, 237, 237, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(211, 233, 255, 1) 0%, rgba(220, 233, 247, 1) 44%, rgba(237, 237, 237, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(211, 233, 255, 1) 0%, rgba(220, 233, 247, 1) 44%, rgba(237, 237, 237, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(211, 233, 255, 1) 0%, rgba(220, 233, 247, 1) 44%, rgba(237, 237, 237, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3e9ff', endColorstr='#ededed', GradientType=0); /* IE6-9 */
    border-radius: 5px;

    color: #fff;

    font-family: 'Arial Unicode MS', Arial, Helvetica, Sans-Serif;
    padding: 0;
    margin-bottom: 0px !important;
    margin-top: 0px !important;

}

.navbar-default .navbar-brand {

}

.navbar-default .navbar-nav > li {
    margin-left: 1px;
    color: #ffffff;
    font-weight: bold;

}

.navbar-default .navbar-nav > li:hover {

    color: #fff;
    background-color: #39b3d7;
    border-color: #269abc;
    font-weight: bold;
    -webkit-transition: background 0.4s ease-in-out;
    -moz-transition: background 0.4s ease-in-out;
    -ms-transition: background 0.4s ease-in-out;
    -o-transition: background 0.4s ease-in-out;
    transition: background 0.4s ease-in-out;

}

.navbar-default .navbar-nav > li > a:hover {
    color: #ffffff !important;
    font-weight: bold;
    -webkit-transition: background 0.4s ease-in-out;
    -moz-transition: background 0.4s ease-in-out;
    -ms-transition: background 0.4s ease-in-out;
    -o-transition: background 0.4s ease-in-out;
    transition: background 0.4s ease-in-out;

}

.navbar-default .navbar-nav > li > a {
    font-size: 18px;
    display: block;
    text-align: center;
    color: #555555 !important;
    font-family: 'Arial Unicode MS', Arial, Helvetica, Sans-Serif;

}

#footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #428bca;
    border-color: #52b6ec;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #ffffff;
    font-family: 'Arial Unicode MS', Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;

}

#contact_list {
    text-align: left;
    text-decoration: none;
}

#list_contact {

    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    color: #383838;
}
